* {
    box-sizing: border-box;
    margin: 200;
    padding: 200;

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    align-content: center;
    font-size: large;
    font-weight: 400;
}

body{
    background: rgb(151, 151, 255)
}

h1 {
    background: #151B54;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

h1:hover {
    background: #2E5090;
    transition: 0.5s ease;
}

.first {
    background: white;
    color: darkslategray;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.13);
    
}

.c1 {
    font-size: 2.2rem;  
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.c2 {
    font-size: 2.2rem;  
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    
}

.c3 {
   font-size: 2.2rem;  
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

.c4 {
   font-size: 2.2rem;  
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    
}

.c1:hover{
    background: #303885;
    transform: scale(1.2);
    transition: 0.5s ease;
}

.c2:hover{
    background: #303885;
    transform: scale(1.2);
    transition: 0.5s ease;
}

.c3:hover{
    background: #303885;
    transform: scale(1.2);
    transition: 0.5s ease;
}

.c4:hover{
    background: #303885;
    transform: scale(1.2);
    transition: 0.5s ease;
}

.intro {
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
     box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.13);
     text-align: center;
     font-size: medium;
}

h2{
    background: #151B54;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.desc{
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.13);
}

.skills {
    background: white;
    color: darkslategrey;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 8px 5px rgba(0,0,0,0.13);
}

div{
    background: rgb(150, 243, 243);
}

.her{
    background: linear-gradient(darkred,rgb(223, 107, 126));
    color: white;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
}

.her:hover{
    background: linear-gradient(blue, lightblue);
     transform: scale(1.2);
    transition: 0.5s ease;
}